<!DOCTYPE html>

<!--
  Hot Cocoa - Hebe Huang, Josephine Lee, Annabel Zhang, Han Zhang
  SoftDev
  P00 -- Cafe of Stories
  2021-10-27
  Edited by Team Orange - Lucas (LTW) Tom-Wong, Julia (Lia) Nelson
  SoftDev
  K20 -- Throw Some Forking STUYLE On It
  2021-11-29
  time spent: 1.7 hours
 -->


<html>
    <head>
        <title> Add to Existing Story </title>
        <link rel="stylesheet" href="static/css/formatting.css">
    </head>

    <h4>
        Enter the existing story's title you want to add to. You may not add to a story you have already contributed to.
    </h4>

    <form action="/addToTitle" method = 'POST'>
        Title: <input type="text" name="title">
        <br>
        <button type = "submit"> Submit </button>
      </form>

    <h5>
        List of Stories:
    </h5>

    {% for value in stories %}
        {{value[0]}}
        <br>
    {% endfor %}

    <form action="/auth" method = 'POST'>
        <br>
        <button type = "submit" formaction="/"> Home </button>
      </form>

</html>
